{% extends 'base.html' %}
{% block content %}
    <table>
        <thead>
            <tr>Purpose</tr>
            <tr>Amount</tr>
            <tr>Date</tr>
            <tr>Action</tr>
        </thead>
        <tbody>
        {% for exp in expenses %}
            <tr>
                <td>{{ exp.purpose }}</td>
                <td>{{ exp.amount }}</td>
                <td>{{ exp.date }}</td>
                <td>
                    <a class="btn btn-primary" href="{% url 'edit-expense' exp.id %}">Edit</a>
                    <a class="btn btn-danger" href="{% url 'delete-expense' exp.id %}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-primary" href="{% url 'add-expense' %}">ADD New Expense</a>
{% endblock %}