{%  extends 'base.html' %}
{% block content %}
    <table>
        <thead>
            <tr>
                <td>SL#</td>
                <td>Name</td>
                <td>Age</td>
                <td>Gender</td>
                <td>Fathers_name</td>
                <td>Email</td>
                <td>Phone_number</td>
            </tr>
        </thead>
        <tbody>
            {% for st_info in all_stu %}
                <tr>
                    <td>{{ st_info.id }}</td>
                    <td>{{ st_info.name }}</td>
                    <td>{{ st_info.age }}</td>
                    <td>{{ st_info.gender }}</td>
                    <td>{{ st_info.fathers_name }}</td>
                    <td>{{ st_info.email }}</td>
                    <td>{{ st_info.phone_number }}</td>
                    <td>
                        <a class="btn btn-primary" href="{% url 'editstudent' st_info.id %}">Edit</a>
                        <a class="btn btn-denger" href="{% url 'delete-student' st_info.id %}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-primary" href="{% url 'add-student' %}">Add Student</a>
{% endblock %}